{% extends 'base/main.html' %}
{% block content %}

<header>
    <h2>To-Do List</h2>
</header>

{% if request.user.is_authenticated %}
<div class="user-info">
    <p>Welcome, <strong>{{ request.user }}</strong>!</p>
    <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
</div>
{% else %}
<a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
{% endif %}

<hr>
<div class="task-actions">
    <a href="{% url 'task-create' %}" class="btn">Add New Task</a>
</div>

<form method="GET" class="search-form">
    <input type="text" name="Search-area" placeholder="Search tasks..." value="{{ search_input }}">
    <input type="submit" value="Search" class="btn">
</form>

{% if tasks %}
<table>
    <thead>
        <tr>
            <th>Task</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>
                <a href="{% url 'task' task.id %}"class="btn btn-secondary">view</a>
                <a href="{% url 'task-update' task.id %}" class="btn btn-secondary">Edit</a>
                <a href="{% url 'task-delete' task.id %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No tasks available. Add a new task to get started!</p>
{% endif %}

{% endblock content %}

